menu "Example Configuration"
    choice APP_ESPNOW_PROV_MODE
        bool "ESP-NOW provisioning Mode"
        default APP_ESPNOW_PROV_INITIATOR
        help
            Select the ESP-NOW provisioning Mode.

        config APP_ESPNOW_PROV_INITIATOR
            bool "Initiator Mode"
            help
                Select the ESP-NOW provisioning initiator Mode.

        config APP_ESPNOW_PROV_RESPONDER
            bool "Responder Mode"
            help
                Select the ESP-NOW provisioning responder Mode.

    endchoice

    config APP_ESPNOW_PROV_MODE
        int
        default 0 if APP_ESPNOW_PROV_INITIATOR
        default 1 if APP_ESPNOW_PROV_RESPONDER

        config APP_ESPNOW_WIFI_SSID
            string "WiFi SSID"
            depends on APP_ESPNOW_PROV_RESPONDER
            default "myssid"
            help
                SSID (network name) for the example to connect to.

        config APP_ESPNOW_WIFI_PASSWORD
            string "WiFi Password"
            depends on APP_ESPNOW_PROV_RESPONDER
            default "mypassword"
            help
                WiFi password (WPA or WPA2 or WPA3) for the example to use.

endmenu
