menu "Example Configuration"
    menu "Light development board selection "
        choice LIGHT_TYPE
            prompt "light hardware type"
            default LIGHT_TYPE_CUSTOM
            help
                Choose different types of lamp development boards.
    
            config LIGHT_TYPE_MOONLIGHT
                bool "ESP32 moonlight"
            config LIGHT_TYPE_MESHKIT
                bool "ESP32-MeshKit Light"
            config LIGHT_TYPE_CUSTOM
                bool "Custom"
        endchoice

        config LIGHT_GPIO_RED
            int "Light red pin GPIO number"
            depends on LIGHT_TYPE_CUSTOM
            range 0 46
            default 25 if IDF_TARGET_ESP32
            default 10 if IDF_TARGET_ESP32S2
            default 1  if IDF_TARGET_ESP32C3
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.
        
        config LIGHT_GPIO_GREEN
            int "Light green pin GPIO number"
            depends on LIGHT_TYPE_CUSTOM
            range 0 46
            default 26 if IDF_TARGET_ESP32
            default 6 if IDF_TARGET_ESP32S2
            default 2 if IDF_TARGET_ESP32C3
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.
        
        config LIGHT_GPIO_BLUE
            int "Light blue pin GPIO number"
            depends on LIGHT_TYPE_CUSTOM
            range 0 46
            default 27 if IDF_TARGET_ESP32
            default 7 if IDF_TARGET_ESP32S2
            default 3 if IDF_TARGET_ESP32C3
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.
        
        config LIGHT_GPIO_COLD
            int "Light cold color pin GPIO number"
            depends on LIGHT_TYPE_CUSTOM
            range 0 46
            default 5
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.
        
        config LIGHT_GPIO_WARM
            int "Light warm color pin GPIO number"
            depends on LIGHT_TYPE_CUSTOM
            range 0 46
            default 4
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.
        
        config LIGHT_FADE_PERIOD_MS
            int "The time from the current color to the next color"
            default 200
            help
                The time from the current color to the next color.
        
        config LIGHT_BLINK_PERIOD_MS
            int "Period of blinking lights"
            default 3000
            help
                Period of blinking lights.
    endmenu
endmenu
