#
# Boot ROM Behavior
#
CONFIG_BOOT_ROM_LOG_ALWAYS_OFF=y

#
# Bootloader config
#
CONFIG_BOOTLOADER_SKIP_VALIDATE_ALWAYS=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y

#
# Compiler config
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# Kernel
#
CONFIG_FREERTOS_HZ=1000

#
# Log output
#
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

#
# PHY
#
CONFIG_ESP_PHY_RF_CAL_NONE=y

#
# ESP-NOW
#
CONFIG_ESPNOW_LIGHT_SLEEP=y
CONFIG_ESPNOW_CONTROL_AUTO_CHANNEL_SENDING=y
CONFIG_ESPNOW_DATA_FAST_ACK=y
CONFIG_ESPNOW_CONTROL_RETRANSMISSION_TIMES=2

#
# ESP-NOW Example
#
CONFIG_EXAMPLE_USE_COIN_CELL_BUTTON=n
