#
# Boot ROM Behavior
#
CONFIG_BOOT_ROM_LOG_ALWAYS_OFF=y

#
# Bootloader config
#
CONFIG_BOOTLOADER_SKIP_VALIDATE_ALWAYS=y
CONFIG_LOG_BOOTLOADER_LEVEL_NONE=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y

#
# FreeRTOS
#

#
# Kernel
#
CONFIG_FREERTOS_HZ=1000

#
# Log output
#
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
#CONFIG_LOG_DEFAULT_LEVEL_INFO=y

#
# PHY
#
CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE=y
CONFIG_ESP_PHY_MAX_WIFI_TX_POWER=20

CONFIG_ESPNOW_LIGHT_SLEEP=y
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_ESPNOW_CONTROL_AUTO_CHANNEL_SENDING=y