menu "Example Configuration"
    config APP_ESPNOW_RETRY_NUM
        int "Packet retransmission count"
        default 5
        help
            Set the packet retransmission count. The more retransmission 
            times, the lower the throughput rate.

    config APP_ESPNOW_SESSION_POP
        string "Proof of Possession"
        default "espnow_pop"
        help
            Proof of Possession (PoP) string used to authorize session and derive shared key.

    config APP_ESPNOW_SEC_OPTION
        bool "The payload data is ciphertext or plaintext when enable security"
        default y
        help
            Send ciphertext or plaintext when enable security.
    
    config APP_ESNOW_STRESS_OPTION
        bool "Select stress or function when enable security"
        default n
        help
            Select stress or function when enable security.

    choice APP_ESPNOW_SEC_MODE
        bool "ESP-NOW Mode"
        default APP_ESPNOW_SEC_INITIATOR
        help
            Select the ESP-NOW Mode.

        config APP_ESPNOW_SEC_INITIATOR
            bool "Initiator Mode"
            help
                Select the ESP-NOW SEC initiator Mode.

        config APP_ESPNOW_SEC_RESPONDER
            bool "Responder Mode"
            help
                Select the ESP-NOW SEC responder Mode.

    endchoice

    config APP_ESPNOW_SEC_MODE
        int
        default 0 if APP_ESPNOW_SEC_INITIATOR
        default 1 if APP_ESPNOW_SEC_RESPONDER

endmenu
