menu "Example Configuration"

    config ESPNOW_SESSION_POP
        string "Proof of Possession"
        default "espnow_pop"
        help
            Proof of Possession (PoP) string used to authorize session and derive shared key.

    choice ESPNOW_SEC_MODE
        bool "ESP-NOW Mode"
        default ESPNOW_SEC_INITATOR
        help
            Select the ESP-NOW Mode.

        config ESPNOW_SEC_INITATOR
            bool "ESP-NOW SEC initator Mode"
            help
                Select the ESP-NOW SEC initator Mode.

        config ESPNOW_SEC_RESPONDER
            bool "ESP-NOW SEC responder Mode"
            help
                Select the ESP-NOW SEC responder Mode.

    endchoice

    config ESPNOW_SEC_MODE
        int
        default 0 if ESPNOW_SEC_INITATOR
        default 1 if ESPNOW_SEC_RESPONDER

endmenu
