<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ESP-NOW Debug Server</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <script>
      if (!['http://espnow-webserver', 'http://localhost:8080'].includes(window.location.origin)) {
        window.location.href = 'http://espnow-webserver/index.html'
      }
    </script>
  </head>
  <body>
  <a target="_blank" href="http://espnow-webserver/index.html">页面跳转</a>
  </body>
</html>
