menu "ESP-NOW Debug Configuration" 
    menu "Debug console Configurationuration"
        config STORE_HISTORY
            bool "Store command history in flash"
            default y
            help
                Linenoise line editing library provides functions to save and load
                command history. If this option is enabled, initalizes a FAT filesystem
                and uses it to store command history.
    endmenu

    menu "Debug Log Configuration"
        config DEBUG_LOG_PARTITION_LABEL_DATA
            string "Store log info partition label"
            default "log_info"
            help
                Store log info partition label.
            
        config DEBUG_LOG_PARTITION_LABEL_NVS
            string "Store log status partition label"
            default "log_status"
            help
                Store log status partition label.

        config DEBUG_LOG_FILE_MAX_SIZE
            int "Output the save the file size of the log"
            range 8196 131072
            default 65536
            help
                Output the Save the file size of the log

        config DEBUG_LOG_PARTITION_OFFSET
            int "Offset of the log information partition"
            range 0 524288
            default 0
            help
                Offset of the log information partition

        config DEBUG_LOG_PRINTF_ENABLE
            bool "Output the `printf` information of the espnow module"
            default n
            help
                Output the `printf` information of the espnow module
    endmenu

    choice DEBUG_CONSOLE_UART_NUM
        prompt "UART for console input"
        default DEBUG_CONSOLE_UART_NUM_0
        help
            UART to be selected for serial console.

        config DEBUG_CONSOLE_UART_NUM_0
            bool "UART0"
        config DEBUG_CONSOLE_UART_NUM_1
            bool "UART1"
    endchoice

    config DEBUG_CONSOLE_UART_NUM
        int
        default 0 if DEBUG_CONSOLE_UART_NUM_0
        default 1 if DEBUG_CONSOLE_UART_NUM_1
endmenu