menu "Example Configuration"

    choice APP_ESPNOW_DEBUG_MODE
        bool "ESP-NOW Debug Mode"
        default APP_ESPNOW_DEBUG_MONITORED
        help
            Select the ESP-NOW Debug Mode.

        config APP_ESPNOW_DEBUG_MONITOR
            bool "Monitor Mode"
            help
                Select the ESP-NOW debug as monitor Mode.

        config APP_ESPNOW_DEBUG_MONITORED
            bool "Monitored Mode"
            help
                Select the ESP-NOW debug as monitored Mode.

    endchoice

    config APP_WEB_SERVER
        bool "Enable WebServer for ESP-NOW debug"
        default n
        depends on APP_ESPNOW_DEBUG_MONITOR
        help
            Enable WebServer debugging

    config APP_MDNS_HOST_NAME
        string "mDNS Host Name"
        depends on APP_WEB_SERVER && APP_ESPNOW_DEBUG_MONITOR
        default "espnow-webserver"
        help
            Specify the domain name used in the mDNS service.
            Note that webpage also take it as a part of URL where it will send GET/POST requests to.


    config APP_WIFI_SOFTAP_SSID
        string "WiFi SoftAP SSID"
        depends on APP_WEB_SERVER && APP_ESPNOW_DEBUG_MONITOR
        default "espnow-webserver"
        help
            SoftAP SSID (network name) for the example to connect to.

    config APP_WEB_MOUNT_POINT
        string "Website mount point in VFS"
        depends on APP_WEB_SERVER && APP_ESPNOW_DEBUG_MONITOR
        default "/www"
        help
            Specify the mount point in VFS.

    config APP_POST_LOG_TO_HTTP_SERVER
        bool "Post flash log to HTTP server"
        default n
        depends on APP_ESPNOW_DEBUG_MONITORED
        help
            Post flash log to HTTP server.

    config APP_FLASH_LOG_POST_URL
        string "Flash log URL endpoint"
        default "http://192.168.0.3:8070/flash_log"
        depends on APP_POST_LOG_TO_HTTP_SERVER
        help
            Flash log URL endpoint.

endmenu
